
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/host/{{model.hostID}}/event">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/host/{{model.hostID}}/event">
                    EVENTS
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/host/{{model.hostID}}/event">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Edit Event
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">

    </div>

    <div class="col-sm-8 col-xs-12 wbdv-right-pane">
        <form name="editevent" novalidate>
            <label for="event-edit-event-name">Event Name</label>
            <input class="form-control"
                   name="editevent"
                   ng-model="model.event.name"
                   id="event-edit-event-name"
                   value="Address Book App"
                   type="text" required/>

            <div class="error" ng-show="editevent.editevent.$invalid && editevent.$submitted">
                <li>Event Name cannot be Blank</li>
            </div>

            <label for="event-edit-event-description">Event Description</label>
            <textarea class="form-control"
                      name="editDescription"
                      ng-model="model.event.description"
                      value="Description"
                      id="event-edit-event-description"
                      rows="2"></textarea>

            <label for="event-edit-event-address">Event Address</label>
            <input class="form-control"
                   name="editAddress"
                   ng-model="model.event.address"
                   id="event-edit-event-address"
                   value="Boston, MA"
                   type="text" required/>

            <div class="error" ng-show="editevent.editAddress.$invalid && editevent.$submitted">
                <li>Event Address cannot be Blank</li>
            </div>


            <label for="event-edit-event-location">Event City</label>
            <input class="form-control"
                   name="editLocation"
                   ng-model="model.event.location"
                   id="event-edit-event-location"
                   value="Boston, MA"
                   type="text" required/>

            <div class="error" ng-show="editevent.editLocation.$invalid && editevent.$submitted">
                <li>Event City cannot be Blank</li>
            </div>

            <label for="edit-event-date">Event Data</label>
            <input id="edit-event-date"
                   name="editDate"
                   type="text"
                   class="form-control"
                   ng-model="model.event.date" required/>

            <div class="error" ng-show="editevent.editDate.$invalid && editevent.$submitted">
                <li>Event needs to have a Date</li>
            </div>

            <label for="edit-event-time">Event Time</label>
            <div class="input-group bootstrap-timepicker timepicker">
                <input ng-model="model.event.time"
                       name="editTime"
                       id="edit-event-time"
                       type="text"
                       value="05:30 AM"
                       class="form-control input-small" required/>
                <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                </span>
            </div>

            <div class="error" ng-show="editevent.editTime.$invalid && editevent.$submitted">
                <li>Event needs to have a Time</li>
            </div>

            <br>

            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <button type="submit" class="btn btn-success btn-block" ng-click="model.editEvent(model.event)">
                        Save
                    </button>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a class="btn btn-danger btn-block" ng-click="model.deleteEvent()">
                        Delete
                    </a>
                </div>
            </div>

        </form>
    </div>

</div>


