<div class="container-fluid borderless">
  <ul class="list-group borderless">
    <div ng-repeat="item in model.items">
      <li class="list-group-item">
        <div class="row">
          <div class="col-xs-2"><img class="img-responsive" src={{item.mediumImage}}>
          </div>
          <div class="col-xs-4">
            <h4 class="product-name"><strong>{{item.name}}</strong></h4>
            <img  ng-if="item.customerRatingImage" height="18  " width="80" src={{item.customerRatingImage}}>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-6 text-right">
              <h4><strong>Price: <span class="text-muted">{{item.salePrice}}$</span></strong></h4>
              <h4><strong>Shipping Rate: <span class="text-muted">{{item.standardShipRate}}$</span></strong></h4>
            </div>
            <div class="col-xs-4">
              <label for="Quantity">quantity</label>
              <input id="Quantity" type="text" class="form-control input-sm" ng-model="item.quantity" value="1">
            </div>
            <div class="col-xs-2">
              <div ng-if="!item.added">
                <button type="button" ng-click="model.addItem(item)" class="btn btn-primary btn-md">
                  Add
                </button>
              </div>
              <div ng-if="item.added">
                <button type="button" ng-click="model.addItem(item)" class="btn btn-success btn-md">
                  Add More
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </ul>
</div>