<!-- <script type="text/javascript" src="color.js"></script> -->

<!--Warm-->
<div class="container-fliud">

  <div class="col-sm-3">
    <div class="form-group">
      <h2>Warm</h2>
      <label for="sel1">Skin Tone</label>
      <select class="form-control" id="sel1">
        <option>ivory</option>
        <option>fair ivory</option>
        <option>creamy white</option>
        <option>creamy peach</option>
        <option>peachy</option>
        <option>peachy beige</option>
        <option>apricot</option>
        <option>golden beig</option>
        <option>golden brown</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Eye Color</label>
      <select class="form-control" id="sel1">
        <option>warm brown</option>
        <option>amber</option>
        <option>warm hazel</option>
        <option>warm blue</option>
        <option>warm green</option>
        <option>warm aqua</option>
        <option>golden flecks inside iris</option>
        <option>warm and light</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Hair Color</label>
      <select class="form-control" id="sel1">
        <option>golden brown (from light to medium)</option>
        <option>brown (from light to medium)</option>
        <option>golden blonde (from light to medium)</option>
        <option>reddish blonde</option>
        <option>redhead</option>
        <option>auburn</option>
        <option>warm golden gray</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Overall Coloring</label>
      <select class="form-control" id="sel1">
        <option>light and low intensity complexion</option>
        <option>low contrast between hair, eyes, and skin.</option>
      </select>
    </div>
    <!--<div class="form-group">
      <img src="https://preview.ibb.co/mzawBR/warm.png" alt="warm" border="0" width="230px;" length="230px;">
    </div>
  -->
    <canvas id="warm-canvas" width="230px;" length="230px;">

    </canvas>

  </div>

  <!--Deep Warm-->
  <div class="col-sm-3">
    <div class="form-group">
      <h2>Deep Warm</h2>
      <label for="sel1">Skin Tone</label>
      <select class="form-control" id="sel1">
        <option>ivory</option>
        <option>peachy</option>
        <option>beige</option>
        <option>golden beige</option>
        <option>golden brown</option>
        <option>warm black</option>

      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Eye Color</label>
      <select class="form-control" id="sel1">
        <option>soft blue</option>
        <option>soft gray</option>
        <option>soft blue-gray</option>
        <option>gray-hazel</option>
        <option>blue-green</option>
        <option>rosy brown</option>
        <option>white flecks inside iris</option>
        <option>gray rim around iris</option>
        <option>soft, light and cool </option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Hair Color</label>
      <select class="form-control" id="sel1">
        <option>ash brown (from light to medium)</option>
        <option>ash blonde (from light to dark) </option>
        <option>platinum blonde</option>
        <option>cool gray</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Overall Coloring</label>
      <select class="form-control" id="sel1">
        <option>strong, deep and high intensity complexion</option>
        <option>high contrast between hair, eyes, and skin</option>
      </select>
    </div>

    <div class="form-group">
      <canvas id="deep-warm-canvas" width="230px;" length="230px;"></canvas>
    </div>

  </div>


  <!--Cool-->
  <div class="col-sm-3">
    <div class="form-group">
      <h2>Cool</h2>
      <label for="sel1">Skin Tone</label>
      <select class="form-control" id="sel1">
        <option>fair</option>
        <option>translucent</option>
        <option>pale pink</option>
        <option>light rosy</option>
        <option>rosy beige</option>
        <option>rosy brown</option>
        <option>pale beige</option>
        <option>gray-brown</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Eye Color</label>
      <select class="form-control" id="sel1">
        <option>soft blue</option>
        <option>soft gray</option>
        <option>soft blue-gray</option>
        <option>gray-hazel</option>
        <option>blue-green</option>
        <option>rosy brown</option>
        <option>white flecks inside iris</option>
        <option>gray rim around iris</option>
        <option>soft, light and cool </option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Hair Color</label>
      <select class="form-control" id="sel1">
        <option>ash brown (from light to medium)</option>
        <option>ash blonde (from light to dark) </option>
        <option>platinum blonde</option>
        <option>cool gray</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Overall Coloring</label>
      <select class="form-control" id="sel1">
        <option>soft, light, and low intensity </option>
        <option>low contrast between hair, eyes, and skin</option>
      </select>
    </div>

    <div class="form-group">
      <canvas id="cool-canvas" width="300px;" length="300px;"></canvas>
    </div>

    <div class="form-group center-block">
      <div id="color" style="width:50px;height:50px;position: center"></div>
    </div>

    <div class="form-group">
              <h2>Search Item</h2>
              <div id="custom-search-input-cool">
                  <div class="input-group col-md-12">
                      <input type="text" ng-model="model.searchQuery" class="  search-query form-control" placeholder="Search" />
                      <span class="input-group-btn">
                              <button ng-click="model.searchItems()" class="btn btn-danger" type="button">
                                   <span class=" glyphicon glyphicon-search"></span>
                              </button>
                       </span>
                  </div>
              </div>
    </div>
  </div>

  <!--Deep Cool-->
  <div class="col-sm-3">

    <div class="form-group">
      <h2>Deep Cool</h2>
      <label for="sel1">Skin Tone</label>
      <select class="form-control" id="sel1">
        <option>ivory</option>
        <option>peachy</option>
        <option>beige</option>
        <option>golden beige</option>
        <option>golden brown</option>
        <option>warm black</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Eye Color</label>
      <select class="form-control" id="sel1">
        <option>Dark brown</option>
        <option>golden brown</option>
        <option>amber</option>
        <option>golden hazel</option>
        <option>blue</option>
        <option>green</option>
        <option>aqua</option>
        <option>teal</option>
        <option>golden flecks</option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Hair Color</label>
      <select class="form-control" id="sel1">
        <option>black</option>
        <option>red</option>
        <option>red-brown</option>
        <option>dark golden brown</option>
        <option>dark auburn</option>
        <option>golden blonde</option>
        <option>golden grey</option>
        <option></option>
      </select>
    </div>

    <div class="form-group">
      <label for="sel1">Overall Coloring</label>
      <select class="form-control" id="sel1">
        <option>strong, deep and high intensity complexion</option>
        <option>high contrast between hair, eyes, and skin</option>
      </select>
    </div>

    <!--div class="form-group">
      <img src="https://preview.ibb.co/fWtNkm/deep_cool.png" alt="warm" border="0" width="230px;" length="230px;">
    </div>-->
  <div class="form-group">
      <canvas id="deep-cool-canvas" width="230px;" length="230px;">

      </canvas>
  </div>
  </div>
</div>